.wrapper {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.title {
    font-size: 1.4rem;
    margin-bottom: 8px;
    line-height: 20px;
    padding: 0 8px;
}

.btn-more {
    display: block;
    color: rgb(254, 44, 85);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
    margin-left: 4px;
    margin-top: 12px;
    cursor: pointer;
}
