.wrapper {
    border-top: 1px solid #ccc;
    padding: 20px 0;
}

.suggest-text {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
}
