.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    padding-top: calc(var(--header-height) + 24px);
    width: var(--primary-layout-width);
}

.content {
    margin-left: calc(var(--width-sidebar) + 64px);
    max-width: 692px;
    padding: 12px;
}
