.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    margin-top: calc(var(--header-height) + 24px);
    width: var(--primary-layout-width);
    min-height: 1000px;
    display: flex;
}

.content {
    flex: 1;
}
