.wrapper {
    display: flex;
    max-width: 650px;
}

.container {
    margin-left: 12px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}

.user {
    margin-bottom: 4px;
    .nick-name {
        font-size: 1.8rem;
        font-weight: 700;
    }
    .tick {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
    }
    .full-name {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.music {
    display: flex;
    align-items: center;
    margin: 4px 0 12px 0;
    .music-name {
        font-size: 1.6rem;
        font-weight: 500;
        margin-left: 5px;
    }
}

.video {
    margin-top: 8px;
    margin-left: 68px;
    .controls {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        bottom: 36px;
        padding: 0 30px;
    }
    .content {
        display: inline-block;
        max-width: 560px;
        flex-grow: 0;
        position: relative;
    }
    .desc {
        width: 100%;
        max-height: 650px;
        border-radius: 8px;
        position: relative;
        object-fit: contain;
        cursor: pointer;
        z-index: 1;
    }
    .btn-control {
        display: inline-flex;
        z-index: 100;
        align-items: center;
        padding: 0 8px;
        opacity: 1;
        background-color: transparent;
        transition: opacity 0.3s ease 0s;
        cursor: pointer;
    }
    .sound {
        display: inline-flex;
        position: relative;
        z-index: 100;
        align-items: center;
        background-color: transparent;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        cursor: pointer;
    }
}

.audio {
    position: relative;
    .volume {
        appearance: none;
        background-color: #fff;
        border-radius: 4px;
        outline: 6px solid rgba($color: #000000, $alpha: 0.1);
        transform: rotate(-90deg);
        width: 64px;
        height: 4px;
        cursor: pointer;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            z-index: 1000;
        }
    }
}


.modal-auth {
    width: 483px;

    .title {
        font-size: 2.4rem;
        font-weight: 700;
        text-align: center;
    }
}

.video-interactive {
    position: absolute;
    right: -68px;
    bottom: 16px;
}

.icon-interac {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, .06);
    fill: rgb(22, 24, 35);
    cursor: pointer;
}

.icon-interac + .icon-interac {
    margin-top: 14px;
}