.wrapper {
    scroll-snap-type: x proximity;
}

.err-mess, .loading-mess {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 14px;
    .icon-err, .icon-loading {
        margin-right: 14px;
        display: inline-flex;
        align-items: center;
    }
}