.account-item {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
    align-items: center;

    &:hover {
        background-color: #f3f3f3;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 12px;
    }
}

.info {
    flex: 1;

    h5 {
        font-size: 1.6rem;
    }

    p {
        opacity: 0.8;
        font-size: 1.4rem;
    }
}
