.search-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f2;
    height: 46px;
    width: var(--width-search-input);
    border-radius: var(--search-radius);
    padding-left: 16px;
    overflow: hidden;
    border: 2px solid transparent;
    position: relative;

    &:focus-within {
        border: 2px solid rgba(22, 24, 35, 0.12);
    }

    input {
        background-color: inherit;
        height: 100%;
        flex: 1;
        font-size: 1.4rem;
    }

    input:not(:placeholder-shown) ~ .clear {
        display: block;
    }

    input:not(:placeholder-shown) ~ .search {
        fill: #333;
    }

    .clear {
        background-color: inherit;
        display: none;
        cursor: pointer;
        width: 40px;
    }

    .separate {
        width: 1px;
        height: 64%;
        background-color: rgba(22, 24, 35, 0.12);
    }

    .loading {
        position: absolute;
        top: 12px;
        right: 65px;
    }

    .search {
        height: 100%;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        fill: rgba(22, 24, 35, 0.34);

        &:hover {
            background-color: rgba(22, 24, 35, 0.05);
        }
    }
}

.search-results {
    width: var(--width-search-input);

    .title-search-results {
        color: #333;
        margin-bottom: 4px;
        margin-left: 8px;
    }
}
